<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <?php if($this->key){ ?>
                <div class="snep-body-top-buttons">
                    <div class="snep-body-search">
                        <?php if($this->key){ 
                            echo ""; 
                            ?>
                            <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>  
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
    <form id="defaultForm" method="post" class="form-horizontal" action="<?php echo $this->url(array("controller" => "parameters", "action" => "index"), null, true); ?>" METHOD="post">

        <fieldset>
        	<legend><?php echo $this->translate("General Configuration");?></legend>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Company Name");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="emp_nome" value='<?php echo $this->config->ambiente->emp_nome;?>' placeholder='<?php echo $this->translate("Name")?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Hidden Routes")?></label>
                <div class="col-sm-8">
                    <div class="checkbox">
                    	<label>
                    		<?php if($this->hide_routes){?>
                    			<input type="checkbox" name="hide_routes" id="hide_routes" checked/>
                    		<?php }else{?>
                    			<input type="checkbox" name="hide_routes" id="hide_routes"/>
                    		<?php } ?>
                            <?php echo $this->translate("Show / Hide deactivated routes")?>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Snep/PHP Debug")?></label>
                <div class="col-sm-8">
                    <div class="checkbox">
                        <label>
                            <?php if($this->debug){?>
                                <input type="checkbox" name="debug" id="debug" checked/>
                            <?php }else{?>
                                <input type="checkbox" name="debug" id="debug"/>
                            <?php } ?>
                            <?php echo $this->translate("Show error message events if activated")?>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Default E-mail");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="mail" 
                    placeholder='<?php echo $this->translate("Default e-mail where the alerts will be sent to")?>' value='<?php echo $this->config->system->mail;?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Number of Lines");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="linelimit" placeholder='<?php echo $this->translate("Defines how many lines you want per page of report")?>' value='<?php echo $this->config->ambiente->linelimit;?>'/>
                </div>
            </div>

            <div class="form-group">
            	<label class="col-sm-3 control-label"><?php echo $this->translate("Conference Application");?></label>
            	<div class="col-sm-8">
            		<select class="form-control" name="conference_app" id="conference_app">
            			<?php foreach($this->conference as $key => $value){?>
            			<option value='<?php echo $key;?>'><?php echo $value;?></option>
            			<?php } ?>
    				</select>
    			</div>
    		</div>
    	</fieldset>

        <fieldset>
            <legend><?php echo $this->translate('Asterisk Manager connect');?></legend> 

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Hostname");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="ip_sock" placeholder='<?php echo $this->translate("Asterisk Socket IP")?>' value='<?php echo $this->config->ambiente->ip_sock;?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Username");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="user_sock" placeholder='<?php echo $this->translate("Asterisk Socket IP username")?>' value='<?php echo $this->config->ambiente->user_sock;?>' />
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Password");?></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="pass_sock" placeholder='<?php echo $this->translate("Asterisk Socket IP password")?>' value='<?php echo $this->config->ambiente->pass_sock;?>'/>
                </div>
            </div>
        </fieldset> 



        <fieldset>
            <legend><?php echo $this->translate('Database connect');?></legend> 

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Database");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_dbname" placeholder='<?php echo $this->translate("Database name")?>' value='<?php echo $this->config->ambiente->db->dbname;?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Hostname");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_host" placeholder='<?php echo $this->translate("Database hostname")?>' value='<?php echo $this->config->ambiente->db->host;?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Username");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_username" placeholder='<?php echo $this->translate("Database username")?>' value='<?php echo $this->config->ambiente->db->username;?>' />
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Password");?></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="db_password" placeholder='<?php echo $this->translate("Database password")?>' value='<?php echo $this->config->ambiente->db->password;?>'/>
                </div>
            </div>
        </fieldset> 
	
    	<fieldset>
    		<legend><?php echo $this->translate("Locale Configuration");?></legend>

    		<div class="form-group">
            	<label class="col-sm-3 control-label"><?php echo $this->translate("Timezone");?></label>
            	<div class="col-sm-8">
            		<select class="form-control" name="timezone" id="timezone">
            			<?php foreach($this->timezones as $key => $value){?>
            			<option value='<?php echo $value;?>'><?php echo $value;?></option>
            			<?php } ?>
    				</select>
    			</div>
    		</div>

    		<div class="form-group">
            	<label class="col-sm-3 control-label"><?php echo $this->translate("System Locale");?></label>
            	<div class="col-sm-8">
            		<select class="form-control" name="locale" id="locale">
            			<?php foreach($this->locales as $key => $value){?>
            			<option value='<?php echo $value;?>'><?php echo $key;?></option>
            			<?php } ?>
    				</select>
    			</div>
    		</div>

    		<div class="form-group">
            	<label class="col-sm-3 control-label"><?php echo $this->translate("System Language");?></label>
            	<div class="col-sm-8">
            		<select class="form-control" name="language" id="language">
            			<?php foreach($this->languages as $key => $value){?>
            			<option value='<?php echo $key;?>'><?php echo $value;?></option>
            			<?php } ?>
    				</select>
    			</div>
    		</div>

    	</fieldset>	

    	<fieldset>
    		<legend><?php echo $this->translate("Call Recording Configuration");?></legend>

    		<div class="form-group">
            	<label class="col-sm-3 control-label"><?php echo $this->translate("Recording Application");?></label>
            	<div class="col-sm-8">
            		<select class="form-control" name="application" id="application">
            			<option value="mixmonitor" <?php echo $this->mixmonitor; ?> ><?php echo $this->translate("MixMonitor");?></option>
            			<option value="monitor" <?php echo $this->monitor; ?> ><?php echo $this->translate("Monitor");?></option>
            			<option value="krecord" <?php echo $this->krecord; ?>><?php echo $this->translate("Krecord");?></option>
    				</select>
    			</div>
    		</div>

    		<div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Recording Parameters");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="flag" value='<?php echo $this->config->general->record->flags;?>'
                    placeholder='<?php echo $this->translate("Options to the recording application")?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Recorded Files Path");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="path_voz" value='<?php echo $this->config->ambiente->path_voz;?>' placeholder='<?php echo $this->translate("Path where to store the audio files")?>' />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Backup Files Path");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="path_voz_bkp" value='<?php echo $this->config->ambiente->path_voz_bkp;?>' placeholder='<?php echo $this->translate("Path where to store the backup audio files")?>' />
                </div>
            </div>

    	</fieldset>	

    	<fieldset>
    		<legend><?php echo $this->translate("Trunks Configuration");?></legend>

    		<div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Qualify");?></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="valor_controle_qualidade" value='<?php echo $this->config->ambiente->valor_controle_qualidade;?>' placeholder='<?php echo $this->translate("Default value for Qualify")?>' />
                </div>
            </div>

    	</fieldset>

        <br>
        <div class="snep-body-footer-buttons">
            <button type="submit" class="btn btn-add" name="signup" value="Sign up"><?php echo $this->translate("Save");?></button>
            &nbsp;&nbsp;&nbsp;
        	<a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>
        </div>
    </form>
</div>

<script type="text/javascript">

jQuery.noConflict();
jQuery(document).ready(function(){ 
    jQuery('#defaultForm').validate({
        rules: {
            emp_nome: {
                required: true,
                minlength: 2,
                maxlength: 30,
                lettersAndNumbersOnly: true 
            },
            ip_sock: {
                required: true,
                minlength: 6,
                maxlength: 30,
                regex: /^(([a-zA-Z0-9]\.?)+)$/ 
            },
            user_sock: {
                required: true
            },
            pass_sock: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            linelimit: {
                required: true,
                numbersOnly: true
            },
            path_voz: {
                required: true
            }
        },
        messages: {
            emp_nome: {
                required: "<?php echo $this->translate('The name is required.'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>", 
                maxlength: "<?php echo $this->translate('Please enter no more than {0} characters.'); ?>",
                lettersAndNumbersOnly: "<?php echo $this->translate('Please enter letters and numbers only.'); ?>"  
            },
            ip_sock: {
                required: "<?php echo $this->translate('The hostname is required.'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>", 
                maxlength: "<?php echo $this->translate('Please enter no more than {0} characters.'); ?>",
                regex: "<?php echo $this->translate('Please enter with value valid.'); ?>" 
            },
            user_sock: {
                required: "<?php echo $this->translate('The username is required.'); ?>" 
            },
            pass_sock: {
                required: "<?php echo $this->translate('The password is required.'); ?>" 
            },
            email: {
                required: "<?php echo $this->translate('The email is required.'); ?>",
                email: "<?php echo $this->translate('Your email address must be in the format of name@domain.com'); ?>" 
            },
            linelimit: {
                required: "<?php echo $this->translate('The linelimit is required.'); ?>",
                numbersOnly: "<?php echo $this->translate('Please enter with numbers only.'); ?>" 
            },
            path_voz: {
                required: "<?php echo $this->translate('The Recorded Files Path is required.'); ?>" 
            }



        },
        highlight: function(element) {
            jQuery(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
            element
            .text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
        }
    });
}); 
</script>
